/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar la fuente Poppins como fuente global */
body {
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Suaviza el texto */
  -moz-osx-font-smoothing: grayscale; /* Suaviza el texto en Firefox */
  overflow-x: hidden;
}

/* Ocultar la barra de desplazamiento pero permitir el desplazamiento */
::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

html {
  overflow: -moz-hidden; /* Para Firefox */
  scroll-behavior: smooth;
  overflow-x: hidden;
}



/* Para Safari */
body {
  overflow-y: scroll; /* Permite el desplazamiento vertical */
    background-color: #f7fafc; /* Un gris claro similar a bg-gray-100 */
}

/* Estilos de código */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
