/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Aplicar la fuente Poppins como fuente global */
body {
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Suaviza el texto */
  -moz-osx-font-smoothing: grayscale; /* Suaviza el texto en Firefox */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

